<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>iniciarsesion</servlet-name>
        <servlet-class>Servlets.iniciarsesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarusuario</servlet-name>
        <servlet-class>Servlets.registrarusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirCarrito</servlet-name>
        <servlet-class>Servlets.AnadirCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCarrito</servlet-name>
        <servlet-class>Servlets.EliminarCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarCarrito</servlet-name>
        <servlet-class>Servlets.ModificarCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarCompra</servlet-name>
        <servlet-class>Servlets.RegistrarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>Servlets.ModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>Servlets.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirProducto</servlet-name>
        <servlet-class>Servlets.AnadirProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProducto</servlet-name>
        <servlet-class>Servlets.ModificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>Servlets.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirTarjeta</servlet-name>
        <servlet-class>Servlets.AnadirTarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarTarjeta</servlet-name>
        <servlet-class>Servlets.ModificarTarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarTarjeta</servlet-name>
        <servlet-class>Servlets.EliminarTarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>iniciarsesion</servlet-name>
        <url-pattern>/iniciarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarusuario</servlet-name>
        <url-pattern>/registrarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirCarrito</servlet-name>
        <url-pattern>/AnadirCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCarrito</servlet-name>
        <url-pattern>/EliminarCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCarrito</servlet-name>
        <url-pattern>/ModificarCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarCompra</servlet-name>
        <url-pattern>/RegistrarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/ModificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirProducto</servlet-name>
        <url-pattern>/AnadirProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProducto</servlet-name>
        <url-pattern>/ModificarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/EliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirTarjeta</servlet-name>
        <url-pattern>/AnadirTarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarTarjeta</servlet-name>
        <url-pattern>/ModificarTarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarTarjeta</servlet-name>
        <url-pattern>/EliminarTarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
