html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

th {
    text-align: left;
}

thead th {
    background-color: #55608f;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
    position: relative;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.TextoSombreadomamalon1 {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #57a2cdd0;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: rgb(255, 255, 255);
}

header {
    background: #0475a1;
    color: white;
    width: 100%;
    height: 15%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
    margin-top: 0%;
    padding: 0%;
    right: 0;
}

.logo {
    height: 70px;
    padding: 10px;
    width: auto;
    margin-left: 15px;
}

.cabecera {
    margin: 0;
    padding: 0%;
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    display: inline-block;
}

.principal {
    justify-content: center;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: #57a1cd;
    color: #ffffff;
    text-align: right;
    font-family: 'Calibri Light';
    font-size: 1.5rem;
    display: block;
}

.principal {
    display: flex;
    justify-content: center;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    /* uno al lado del otro */
    display: inline-block;
}


/* los enlaces dentro del menu */

.navigation ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background: #7569e2;
}

.btn {
    border: 3px solid rgba(100, 100, 100, .1);
    margin-bottom: 20px;
    padding: 20px;
    width: 300px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    color: #FFF;
    background-size: 300%;
    transition: 4.5s;
}

.btn:hover {
    background-position: right;
}

.btn1 {
    background-image: linear-gradient(to left, #00B7DA, #161569, #00b7da);
}

.center {
    text-align: center;
}